{% extends 'base.html' %}

{% block title %}
{{post['title']}} - My Blog
{% endblock %}

{% block header %}
<h1>{{post['title']}}</h1>
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>{{post['title']}}</h1>
        <div class="about">by {{post['username']}} on {{post['created']}}</div>
    </header>
    <p class="pcontent">{{post['body']}}</p>
</article>
<a href="{{url_for('index')}}">Back to Home</a>
{% if post['username'] == g.user['username'] %}
<hr>
<div id="admin">
<a href="{{url_for('blog.update', pid=post['id'])}}">Edit</a> | 
<a href="{{url_for('blog.delete', pid=post['id'])}}">Delete</a>
</div>
{% endif %}

{% endblock %}